<div class="dashboard-header">
<h1>Manage Categories</h1>

<p><%= link_to 'Create Category', new_admin_category_path, class: "create-category" %></p>

<ul>
  <% @categories.each do |category| %>
    <li><%= category.title %> |
      <%= link_to "Edit", edit_admin_category_path(category) %>
  <% end %>
</ul>
</div>
